html{
    margin: 0;
    padding: 0;
    background-color: #966b4b;
}

#wrapper {
    width: 100%;
    margin:0 auto;
}

/*LETRAS TERRARIA*/

@font-face {
        font-family: 'Andy';
        src: url('../img/Letra/Terraria-Font/ANDYB.TTF');
    }

a {
    text-decoration: none;
    color: inherit;
}

/* Layout principal */

#cap{
    position: fixed;
    height: 200px;
    width: 100%;
    top: -5px;
    left: -5px;
    background: linear-gradient(
        rgba(150, 107, 75, 1),
        rgba(26, 26, 46, 0)
    );
    background-image:url(../img/Personajes/Mazmorra.png), url(../img/CESPED.webp),url(../img/NUBES3.jpg);
    background-size:20%,auto,100% 100%;
    background-position:right,bottom,center;
    background-repeat:no-repeat,repeat-x,no-repeat;
}

#cos{
    background-color: #966b4b;
    margin-top:200px;
    height: auto;
}

#peu{
    height: 190px;
    width: 100%;
    background-color: rgb(90, 165, 55);
    margin-left: -8px;
    margin-bottom: -10px;
    padding-right: 16px;
}

/* Estils imatges */

.logo{
    position: absolute;
    width: 300px;
    height: auto;
    margin-left: 50px;
    margin-top: 10px;
}

.cesped{
    width: 101%;
    height: 50px;
    background-image: url(../img/CESPED.webp);
    background-repeat: repeat-x;
    bottom: -35px;
    position: absolute;
}

.cespedFoter{
    top: -35px;
    left: -5px;
    width: 101%;
    height: 50px;
    background-image: url(../img/CESPED.webp);
    background-repeat: repeat-x;
    position: relative;
    scale: calc(-1);
    padding-right: 6px;
}

.FondoCap{
    width: 101%;
    height: 200px;
    z-index: -1;
}

/*=================================================================*/

/* MENUS */

.Menu1 {
    position: fixed;
    left: 1.5%;
    background-color: rgba(255, 200, 158, 0.7);
    color: #382516;
    font-family: Andy;
    border: solid 3.5px #382516;
    width: 12%;
    border-radius: 10px;
    margin-top: 0px;
    height: 315px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    text-align: center;
}

.Menu2 {
    position: fixed;
    right: 1.5%;
    background-color: rgba(255, 200, 158, 0.7);
    color: #382516;
    font-family: Andy;
    border: solid 3.5px #382516;
    width: 5%;
    border-radius: 10px;
    margin-top: -1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    margin-left: 0px;
    height: 308.5px;
    padding-top: 5px;
}

.menuimg2 {
    margin: 2.5px;
}

.SubMenu {
    background-color:rgba(150, 107, 75, 1);
    border: solid 2px #382516;
    border-radius: 10px;
    padding: 10px;
    margin-left: 15%;
    width: 30px;
    height: 30px;
}

ul.llista{
    list-style-type: none;
    margin-left: -35px;
    margin-top: 20px;
}

ul.llista1{
    list-style-type: none;
    margin-left: -39px;
}

/*CAJAS DEL MAIN*/

.caja1 {
    width: 75%;
    height: auto;
    background-color: rgba(255, 200, 158, 0.7);
    border: solid 3.5px #382516;
    color: #382516;
    text-align: justify;
    padding: 10px;
    margin-top: 150px;
    margin-left: 15%;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: Andy;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.caja2 {
    width: 75%;
    height: auto;
    background-color: rgba(255, 200, 158, 0.7);
    border: solid 3.5px #382516;
    color: #382516;
    text-align: justify;
    padding: 10px;
    margin-top: 10px;
    margin-left: 15%;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: Andy;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.imgcaja1 {
    display: flex;
}

.caja3 {
    width: 57.1%;
    height: auto;
    background-color: rgba(255, 200, 158, 0.7);
    border: solid 3.5px #382516;
    color: #382516;
    text-align: justify;
    padding: 10px;
    margin-top: 10px;
    margin-left: 15%;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: Andy;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.imagen1 {
    width: 15%;
    height: auto;
    background-color: rgba(255, 200, 158, 0.7);
    border: solid 3.5px #382516;
    color: #382516;
    text-align: justify;
    padding: 10px;
    margin-top: 10px;
    margin-left: 1%;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: Andy;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    background-image: url(/img/Terraria_imagen1.webp);
    background-size:100% 100%;
    background-position: center;
    background-repeat:no-repeat;
}

.caja4 {
    width: 75%;
    height: auto;
    background-color: rgba(255, 200, 158, 0.7);
    border: solid 3.5px #382516;
    color: #382516;
    text-align: justify;
    padding: 10px;
    margin-top: 10px;
    margin-left: 15%;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: Andy;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.caja5 {
    font-family: Andy;
    width: 53.5%;
    height: auto;
    background-color: rgba(255, 200, 158, 0.7);
    border: solid 3.5px #382516;
    color: #382516;
    text-align: justify;
    padding: 10px;
    margin-top: 10px;
    margin-left: 1%;
    margin-bottom: 22px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.imgcaja2 {
    display: flex;
}

.imagen2 {
    width: 20%;
    height: 235px;
    background-color: rgba(255, 200, 158, 0.7);
    border: solid 3.5px #382516;
    color: #382516;
    text-align: justify;
    margin-top: 10px;
    margin-left: 15%;
    margin-bottom: 22px;
    border-radius: 10px;
    font-family: Andy;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    object-fit: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen2 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

