.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}


.textocabeza{
    text-align: center;
    font-size: 35px;
    text-decoration:dotted;
}
.controls {
    width: 97.5%;
    background: #966b4b;
    padding: 10px;  
    border-radius: 4px;
    margin-bottom: 16px;
    border: 3px solid #382516;
    font-size: 18px;
    color: #382516;
}

.controls:focus {
    border-color: rgb(6, 225, 6);
    box-shadow: 0 0 8px rgba(57, 223, 2, 0.5);
}

input::placeholder {
    color: #382516;
    font-family: Andy;
}

.caja-formulario {
        width: 400px; 
        height: 35px; /* Altura ligeramente reducida */
        padding: 5px; /* Relleno ligero */
        box-sizing: border-box;
}
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    font-family: Andy;
}

.form-register a {
    color: green;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.botons {
    width: 20%;
    background: green;
    border: none;
    padding: 12px;
    color: black;
    margin-left: 40%;
    font-size: 22px;
    font-family: Andy;

}

.textito{
    text-align: center;
}
