html{
    margin: 0;
    padding: 0;
    background-color: #966b4b;
}

/* Layout principal */

#cap{
    position: fixed;
    height: 150px;
    width: 100%;;
    top: -5px;
    left: -5px;
    /*background-image: url(../img/NUBES3.jpg);*/
}

#cos{
    background-color: #966b4b;
    height: 900px;
}

#peu{
    margin: auto;
    height: 100px;
    width: 100%;
    background-color: rgb(90, 165, 55);
    left: -5px;
    bottom: -5px;
}

/* Estils imatges */

.logo{
    position: absolute;
    width: 200px;
    height: auto;
    margin-left: 50px;
    margin-top: 10px;
}

.cesped{
    width: 101%;
    height: 50px;
    background-image: url(../img/CESPED.webp);
    background-repeat: repeat-x;
    bottom: -35px;
    position: absolute;
}

.cespedFoter{
    top: -35px;
    left: -5px;
    width: 101%;
    height: 50px;
    background-image: url(../img/CESPED.webp);
    background-repeat: repeat-x;
    position: relative;
    scale: calc(-1);
}

.FondoCap{
    width: 101%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    background-image: url(../img/NUBES3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Objetos y contenedores */

#ContPrincipal{
    height: 900px;
    width: 100px;
    background-color: wheat;
    border: rgba(109, 64, 45, 1) solid 5px;
    top: 15px;
    position: relative;
}