html{
    margin: 0;
    padding: 0;
    background-color: #966b4b;
    font-family: Andy;
}

#wrapper {
    width: 100%;
    margin:0 auto;
}

@font-face {
        font-family: 'Andy';
        src: url('../img/Letra/Terraria-Font/ANDYB.TTF');
}

/*  BODY    */

#cap{
    position: fixed;
    height: 200px;
    width: 100%;
    top: -5px;
    left: -5px;
    background: linear-gradient(
        rgba(150, 107, 75, 1),
        rgba(26, 26, 46, 0)
    );
    background-image:url(../img/Personajes/Mazmorra.png), url(../img/CESPED.webp),url(../img/NUBES3.jpg);
    background-size:20%,auto,100% 100%;
    background-position:right,bottom,center;
    background-repeat:no-repeat,repeat-x,no-repeat;
}

#cos{
    background-color: #966b4b;
    margin-top:200px;
    height: auto;
}

#peu{
    height: 190px;
    width: 100%;
    background-color: rgb(90, 165, 55);
    margin-left: -8px;
    margin-bottom: -10px;
    padding-right: 16px;
}

/*  IMÁGENES    */

.logo{
    position: absolute;
    width: 300px;
    height: auto;
    margin-left: 50px;
    margin-top: 10px;
}

.cesped{
    width: 101%;
    height: 50px;
    background-image: url(../img/CESPED.webp);
    background-repeat: repeat-x;
    bottom: -35px;
    position: absolute;
}

.cespedFoter{
    top: -35px;
    left: -5px;
    width: 101%;
    height: 50px;
    background-image: url(../img/CESPED.webp);
    background-repeat: repeat-x;
    position: relative;
    scale: calc(-1);
    padding-right: 6px;
}

.FondoCap{
    width: 101%;
    height: 200px;
    z-index: -1;
}

/*  MENÚ PRINCIPAL   */

.Menu1 {
    position: fixed;
    left: 1.5%;
    background-color: rgba(255, 200, 158, 0.7);
    color: #382516;
    font-family: Andy;
    border: solid 3.5px #382516;
    width: 12%;
    border-radius: 10px;
    margin-top: 0px;
    height: 315px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    text-align: center;
}

ul.llista1{
    list-style-type: none;
    margin-left: -39px;
}

a{
    text-decoration: none;
    color: inherit;
}


