html{
    margin: 0;
    padding: 0;
    background-color: #966b4b;
    font-family: Andy;
    color: #382516;
}

#wrapper {
    width: 100%;
    margin:0 auto;
}

@font-face {
        font-family: 'Andy';
        src: url('../img/Letra/Terraria-Font/ANDYB.TTF');
}

/* AUDIO */

#btnAudio {
    background-color: #4CAF50;
    border: solid 3px #004302;
    color: white;
    padding: 15px 20px 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 25px;
    position: fixed;
    right: 9%;
    top: 70px;
    font-family: Andy;
}

#btnAudio:hover {
    background-color: #45a049;
}

/* Ajuste para anclas (cabecera fija) */

h3, h2, h1[id] {
    scroll-margin-top: 229px;
}


/* BODY */

#cap{
    position: fixed;
    height: 200px;
    width: 100%;
    top: -5px;
    left: -5px;
    background: linear-gradient(
        rgba(150, 107, 75, 1),
        rgba(26, 26, 46, 0)
    );
    background-image: url(../img/CESPED.webp), url(../img/NUBES3.jpg);
    background-size:auto,100% 100%;
    background-position:right,bottom,center;
    background-repeat:no-repeat,repeat-x,no-repeat;
}

#cos{
    background-color: #966b4b;
    margin-top:200px;
    height: auto;
}

#peu{
    height: 190px;
    width: 100%;
    background:
        linear-gradient(to bottom,rgba(150, 107, 75, 0.8),rgb(0, 0, 0, 1));
    margin-left: -8px;
    margin-bottom: -10px;
    padding-right: 16px;
}

/*  IMÁGENES    */

.logo{
    position: absolute;
    width: 300px;
    height: auto;
    margin-left: 50px;
    margin-top: 10px;
}

.cesped{
    width: 101%;
    height: 50px;
    background-image: url(../img/CESPED.webp);
    background-repeat: repeat-x;
    bottom: -35px;
    position: absolute;
}

.cespedFoter{
    top: -35px;
    left: -5px;
    width: 101%;
    height: 50px;
    background-image: url(../img/CESPED.webp);
    background-repeat: repeat-x;
    position: relative;
    scale: calc(-1);
    padding-right: 6px;
}

.FondoCap{
    width: 101%;
    height: 200px;
    z-index: -1;
}

/*  MENÚ PRINCIPAL   */

#Menu1 {
    position: fixed;
    left: 1.5%;
    background-color: rgba(255, 200, 158, 0.7);
    border: solid 3.5px #382516;
    width: 12%;
    border-radius: 10px;
    margin-top: 0px;
    height: 315px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    text-align: center;
}

ul.llista1{
    list-style-type: none;
    margin-left: -39px;
}


a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

/* MENÚ PEU */

#MenuPeu{
    background-color: rgba(255, 200, 158, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    border: solid 3.5px #382516;
    border-radius: 10px;
    text-align: center;
    width: 95%;
    height: auto;
    margin-left: 1.5%;
    display: flex;
    gap: 15px;
    padding: 20px;
}

.dinspeu{
    position: relative;
    background-color: rgba(167, 132, 105, 0.7);
    flex: 1;
    border-radius: 15px;
    border: solid 1.5px #382516;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.dinspeu:hover{
    background-color:rgba(62, 48, 38, 0.7);
    color: white;
    
}

/*  CAJA PRINCIPAL  */

.caja{
    width: 75%;
    height: auto;
    background-color: rgba(255, 200, 158, 0.7);
    border: solid 3.5px #382516;
    text-align: justify;
    padding: 10px;
    margin-top: 10px;
    margin-left: 15%;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}


